:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

form {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  font-size: 3rem;
  width: 4.88rem;
  border-style: black;
  color: white;
  background: rgb(139, 139, 139);
}

article {
  display: flex;
  flex-direction: row;
  width: 19.5rem;
}

.answerInput {
  width: 19.3rem;
  text-align: right;
  font-size: 5rem;
  background: rgb(49, 49, 49);
  border: none
}

.longButtons {
  flex-grow: 1;
}

.acButton {
  flex-grow: 1;
  text-align: left;
  background: rgb(78, 77, 77);
  border: solid .1rem rgb(78, 77, 77);
}

.operatorButton {
  background: orange;
}