:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

form {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  font-size: 3rem;
  width: 4.88rem;
}

article {
  display: flex;
  flex-direction: row;
  width: 19.5rem;
}

.answerInput {
  width: 19rem;
  text-align: right;
  font-size: 5rem;
}

.longButtons {
  flex-grow: 1;
}

.acButton {
  flex-grow: 1;
  text-align: left;
}